# Entorno virtual
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Reportes y evidencias
reports/
screenshots/
*.png
*.html

# Drivers
drivers/*.exe

# IDEs
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
